#input-container{
    
    border: 2px solid rgb(111, 4, 111);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#input-content{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h2{
    margin-bottom: 3px;
    margin-top: 3px;
    color: rgb(152, 98, 202);
}
h3{
    margin-top: 3px;
    color: rgb(152, 98, 202);
}
input{
    margin-bottom: 5px;
}